h1{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
body{
    font-family: "Montserrat", sans-serif;
}
/*ID Selection*/

#title{
    background-color: #0F4C75;
    color: #fff;
    padding: 3% 15%;
}
#features, #testimonials, #press, #pricing, #cta{
    padding: 7% 15%;
}
#testimonials, #cta, #footer{
    background-color: #0F4C75;
}
#features, #testimonials{
    position:relative;
    z-index: 2;
}
#features{
    background-color: white;  
}
#footer{
    padding: 0 15%;
}
/* Title Section */

.navbar{
    background-color: #0F4C75;
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1rem;
    font-weight: 300;
}
.download-btn{
    margin: 4% 1.5% 0 0;
    position: relative;
    z-index: 2;
}
.title-img{
    width: 20%;
    transform: rotate(25deg);
    position:absolute;
    right: 20%;
    z-index: 1;
}
.title-img-mobile{
    width: 50%;
    margin: 5% auto 3%;
}

/* Features Section */
span.features-img{
    padding: 1rem 0 1.3rem 0;
    color: #0F4C75;
}
span.features-img:hover {
    color: #1B262C;
}
.features-heading{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Testimonials section */

.testimonial-img{
    display: block;
    width: 20%;
    height: 20%;
    margin: 0 auto 3%;
    border-radius: 10%;
}
.testimonial-text{
    font-size: 1.5rem;
    font-weight: bold;
    width: 70%;
    margin: 7% auto 5%;
}



/* Press Section */
.press-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8%;
}
.press-img{
    padding: 5% 5%;
    width: 200px;
}

/* Plans Section */

.plans-heading{
    font-size: 3rem;
    font-weight: bold;
    color: #0F4C75;
}
.plans-subheading{
    padding-bottom: 5%;
}
.plan-title{
    font-weight: bold;
}
.plan-button{
    border-color: transparent;
    background-color: #0F4C75;
    color: #fff
}
.plan-button:hover{
    background-color: #fff;
    border-color: #0F4C75;
    color: #0F4C75;
}
/* cta section */
.cta-title{
    font-weight: bold;
    font-size: 3rem;
}